#wrapper {
	width: 480px;
}

header {
	padding: 0 0 5px 0;
	background: linear-gradient(to right, #412953, #412953);
	background: -o-linear-gradient(top, #412953, #412953);
	background: -ms-linear-gradient(top, #412953, #412953);
	background: -moz-linear-gradient(top, #412953, #412953);
	background: -webkit-linear-gradient(top, #412953, #412953);
	background-repeat: no-repeat; 
	background-size: 100% 51px;
	background-position: 0 0;
}

.logo {
    margin: 0 4px 0 0;
}

.navigation {
	width: 275px;
}

.nav-top {
	display: none;
}

.nav-bottom .book {
	display: none;
}

nav {
	float: right;
	width: 275px;
}

.nav {
	display: none;
	background: #662d91;
	width: 160px;
	position: absolute;
	right: 0;
	top: 51px;
	z-index: 1;
}

.menu {
	position: relative;
	float: right;
	display: block;
	width: 160px;
	height: 51px;
	padding: 13px 10px 0;
	background: #662d91;
	text-align: center;
	text-transform: uppercase;
	font: 21px/23px 'agendamedium';
	color: #fff;
	cursor: pointer;
}

.nav > li {
	float: none;
	background: none;
	position: relative;
	padding: 0;
}

.nav > li:last-child {
	background: none;
}

.nav > li > a {
	display: block;
	font: 21px/23px 'agendamedium';
	text-transform: uppercase;
	border: 5px solid transparent;
	padding: 11px 2px 11px 1px;
	margin: 0;
}

.nav > li:hover > a {
	margin: 0;
	padding: 11px 2px 11px 1px;
	border: 5px solid #fff;
	background: #ff9b4b;
}

.nav > li:hover .drop {
	display: none;
}

/*  GALLERY ********************************************************************************************/
.gallery .wrap .list li {
	width: 480px;
	overflow: hidden;
}

.news {
	width: 480px;
}

.gallery img {
	margin: 0 0 0 -360px;
}

.gallery .wrap .list li {
	width: 480px;
	overflow: hidden;
}

.rolling-action span {
	font-size: 22px;
	line-height: 24px;
	padding: 5px 0px 5px 23px;
}

.arrows-switcher {
	bottom: 26%;
	left: 2%;
	margin: 0;
}

.switcher {
	padding: 0 98px 0;
}

.gallery2 .switcher {
  padding: 0 95px 0;
}

.prev,
.next {
	margin-top: 2px;
	width: 25px;
	height: 31px;
}
.prev,
.next {
	background: url("../img/gallery-arrow-big.png") no-repeat;
}
.next {
	transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

.switcher li {
	margin: 0 23px 0 0;
}

.switcher li a {
	width: 36px;
	height: 36px;
	border-radius: 18px;
}

.switcher li a:hover,
.switcher li.active a {
	background-image: radial-gradient(circle at 50% 50%, #233e6f 63%, transparent 75%);
	background-image: -o-radial-gradient(50% 50%, circle, #233e6f 63%, transparent 75%);
	background-image: -ms-radial-gradient(50% 50%, circle, #233e6f 63%, transparent 75%);
	background-image: -moz-radial-gradient(50% 50%, circle, #233e6f 63%, transparent 75%);
	background-image: -webkit-radial-gradient(50% 50%, circle, #233e6f 63%, transparent 70%);
	background-position: 7px;
	background-size: 22px;
}

.gallery2 .arrows-switcher {
	display: none;
}

.rolling-action {
	padding: 10px 0 6px;
}

.gallery2 {
	display: none;
}

/*  NEWS ********************************************************************************************/
.news {
    width: 452px;
    margin: 0 auto;
}

.news-see {
	width: 100%;
	padding-bottom: 21px;
}

.news-see-box {
	display: block;
	width: 100%;
}

.news-see-box img {
	border: 1px solid #bcbcbc;
}

.gallery2-box {
    padding: 12px 20px 0 0;
    margin: 0;
    border-bottom: none;
}

.gallery2-box span {
    margin: 0 0 18px;
}

.attractions {
	display: none;
}

.news-see h1 {
	background: url("../img/h1-bg-480.png") no-repeat 0;
	height: 80px;
	margin-bottom: 10px;
}

.learn-view {
	font: 22px/24px 'HelveticaLTStd-Roman';
    padding: 12px 27px 11px 2px;
	border-radius: 2px;
	width: 241px;
	letter-spacing: 1px;
}
.trip-ideas-holder {
	display: none;
}
/*  FOOTER ********************************************************************************************/
footer {
	padding: 11px 0 40px;
	text-align: left;
}

footer a {
	color: #333333;
}

.footer-desktop {
	display: none;
}

.footer-mobile {
	display: block;
}

.footer-navigation {
	margin-bottom: 15px;
}

.footer-connect strong {
	display: block;
	padding: 3px 0 4px 15px;
	background: #62276f;
	color: #fff;
	font: 34px/36px 'Agenda-Bold';
}

.footer-connect .sprites {
	float: none;
	overflow: hidden;
	margin: 13px 0 27px 18px;
}
.footer-connect .sprites li {
	margin: 0px 28px 0 0;
}

.footer-connect .sprites li:last-child {
	margin: 0;
}
.footer-connect .sprites li a {
	height: 68px;
	width: 66px;
}
.footer-connect .facebook {
	background-position: 0 -54px;
}
.footer-connect .twitter {
	background-position: -66px -54px;
}
.footer-connect .instagram {
	background-position: -132px -54px;
}
.footer-connect .teaser {
	background-position: -198px -54px;
}
.footer-connect .youtube {
	width: 67px;
	background-position: -264px -54px;
}

.footer-nav-grey {
	border-top: 1px solid #afafaf;
	text-align: left;
	margin-bottom: 19px;
}

.footer-nav-grey li {
	border-bottom: 1px solid #afafaf;
}

.footer-nav-grey a {
	display: block;
	background: #e5e5e5;
	padding: 13px 16px;
	text-transform: uppercase;
	font: 19px/20px 'Agenda-Bold';
}

.footer-nav-grey a:hover {
	background: #fff;
}

.footer-connect-touch {
	margin-bottom: 46px;
}

.footer-navigation-about,
.footer-connect-touch {
	overflow: hidden;
}

.footer-navigation-about a {
	float: left;
	padding: 0px 17px 0 16px;
	font: 18px/20px 'agendamedium';
	background: url("../img/footer-nav-bg-circle-480.png") no-repeat 100% 50%;
}

.footer-connect-touch a {
	float: left;
	padding: 0px 20px 0px 15px;
	background: url("../img/footer-nav-bg-480.png") no-repeat 100% 50%;
	font: 22px/24px 'Agenda-Bold';
}

.footer-connect-touch a:hover,
.footer-navigation-about a:hover {
	text-decoration: underline;
}

.footer-connect-touch a:last-child,
.footer-navigation-about a:last-child {
	background: none;
}

.footer-sponsors-mobile {
	width: 450px;
	margin: 0 auto 8px;
	float: none;
}

.footer-sponsors-mobile li {
	margin-right: 50px;
}

.footer-sponsors-mobile li:first-child {
	margin-top: 5px;
}

.footer-sponsors-mobile li:last-child {
	margin: -4px 0 0 -5px;
}

.footer-grey {
	background: none;
}

.copy-mobile {
	color: #999999;
	font: 13px/15px 'HelveticaNeueLTStd-Roman';
	padding-left: 16px;
}
/*  FIXED-BOX ********************************************************************************************/
.fixed-holder{
	display: none;
}