#wrapper {
	width: 768px;
}

header {
    padding: 6px 22px 12px 0;
    background-position: 0 42px;
}

.navigation {
    width: 534px;
}

.plans-sprites .sprites {
	display: none;
}

.form-search {
	margin: 0 0 0 15px;
	float: right;
}

nav {
	float: right;
}

.nav > li {
	padding: 0 2px 0 0;
}

.nav > li > a {
	padding: 11px 17px;
}

.nav > li:hover > a {
	padding: 11px 19px;
	margin: 0 -2px;
}

.nav-bottom .book {
	display: none;
}

.gallery img {
	margin: 0 0 0 -216px;
}

.gallery .wrap .list li {
	width: 768px;
	overflow: hidden;
}

.arrows-switcher {
    margin: 0 0 0 -70px;
}

.news {
	width: 680px;
}

.news-see {
	width: 100%;
	float: none;
	padding-bottom: 0;
}

.news-see h1 {
	background: url("../img/h1-bg-768.png") no-repeat 0;
	height: 129px;
	margin-bottom: 10px;
}

.gallery2 {
	display: none;
}

.attractions {
	display: none;
}
/*  POPULAR-ATTRACTIONS ********************************************************************************************/
.popular-attractions {
	display: block;
	padding: 0 50px 0 0;
}

.popular-attractions > h2 {
	color: #2a4a84;
	font: 12px/14px 'HelveticaLTStd-Bold';
	text-transform: uppercase;
	margin: 0 0 7px 0;
}

.popular-attractions .gallery2-box > a:first-of-type {
	margin: 0 13px 0 0;
	float: left;
}

.gallery2-box {
	width: 600px;
    padding: 0 10px 43px 1px;
	border-bottom: none;
	margin: 0;
}

.gallery2-box h3 {
	color: #f7955b; 
	font: 20px/1 'Agenda-Bold';
	margin: 0 0 5px;
	padding: 4px 0 0 0;
}

.gallery2-box strong {
	color: #3762af;
	font: 10px/1 'HelveticaLTStd-Roman';
	display: block;
	margin: 0 0 15px;
}

.gallery2-box span {
	display: block;
	margin: 0 0 19px;
	line-height: 16px;
}

.learn-view {
	padding: 6px 14px 2px 0;
	width: 121px;
	background-position: 104px 58%, 0;
	float: left;
}

.news-see-box {
	display: none;
}
/*  TRIP-IDEAS ********************************************************************************************/
.trip-ideas-holder {
	width: 100%;
	padding: 30px 0;
	border-bottom: 1px solid #dddcda;
	background: url("../img/trip-ideas-bg-768.png") no-repeat 0 72%,
	linear-gradient(to bottom, #ebebea, #ebebec, #d7dae8, #bfc5e1) repeat-x;
	background: url("../img/trip-ideas-bg-768.png") no-repeat 0 72%,
	-o-linear-gradient(top, #ebebea, #ebebec, #d7dae8, #bfc5e1) repeat-x;
	background: url("../img/trip-ideas-bg-768.png") no-repeat 0 72%,
	-ms-linear-gradient(top, #ebebea, #ebebec, #d7dae8, #bfc5e1) repeat-x;
	background: url("../img/trip-ideas-bg-768.png") no-repeat 0 72%,
	-moz-linear-gradient(top, #ebebea, #ebebec, #d7dae8, #bfc5e1) repeat-x;
	background: url("../img/trip-ideas-bg-768.png") no-repeat 0 72%,       
	-webkit-linear-gradient(top, #ebebea, #ebebec, #d7dae8, #bfc5e1) repeat-x;
}

.trip-ideas {
    width: 690px;
}

.trip-ideas h4 {
    margin: 0 0 14px 0;
}

.idea-box {
    width: 100%;
    padding: 11px 16px 17px 7px;
}

.idea-box h5 {
    margin: 0 0 12px;
}

.idea-box p {
    margin: 0 0 18px;
    line-height: 17px;
}

.idea-box .learn-view {
    padding: 5px 14px 4px 10px;
}

.trip-ideas > a {
	display: none;
}

/*  FOOTER ********************************************************************************************/
footer {
	text-align: left; 
	padding: 0 13px 60px 36px;
}

.footer-sponsors-center {
	display: none;
}

.footer-sponsors-left {
	display: block;
}

.footer-sponsors-left li:nth-child(2n) {
	float: right;
	margin-right: 8px;
}

.footer-sponsors-left li:first-child {
	margin: 2px 0 0 0;
}

.footer-sponsors-left li:last-child {
	margin: -1px 0 0 5px;
}

.footer-grey {
    background: none;
    padding: 0;
}

.footer-nav {
	overflow: hidden;
	margin: 3px 0 14px;
}

.footer-nav li {
	float: left;
	padding: 13px 33px 14px 0;
	border-bottom: 1px solid #bebebe;
	background-position: 83% 50%;
}

.footer-nav li:last-child,
.footer-nav li:nth-child(5n) {
	background: none;
}

.footer-nav li:last-child {
	padding-right: 56px;
}

.footer-mobile {
	display: none;
}
/*  FIXED-BOX ********************************************************************************************/
.fixed-holder strong {
    padding: 8px 0 0 16px;
}

.fixed-box .sprites li {
	margin: 0 14px 0 0;
}

.fixed-box .sprites li a {
	height: 33px;
}

.fixed-box .facebook {
	width: 27px;
	background-position: 0 -19px;
}
.fixed-box .instagram {
	width: 29px;
	background-position: -27px -19px;
}
.fixed-box .youtube {
	width: 29px;
	background-position: -56px -19px;
}
.fixed-box .pinterest {
	width: 31px;
	background-position: -85px -20px;
}
.fixed-box .google {
	width: 29px;
	background-position: -116px -21px;
}
.fixed-box .teaser {
	width: 48px;
	background-position: -145px -21px;
}

.fixed-box {
	max-width: 768px;
}

.fixed-box .book > a {
    padding: 9px 4px 9px 35px;
}

.fixed-box .book-drop {
    top: -212px;
}
