/* START fonts */
@font-face {
	font-family: 'Lato-Black';
	src: url('../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Lato-Black/Lato-Black.woff') format('woff'), 
		url('../fonts/Lato-Black/Lato-Black.ttf')  format('truetype'), 
		url('../fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Lato-Regular/Lato-Regular.woff') format('woff'), 
		url('../fonts/Lato-Regular/Lato-Regular.ttf')  format('truetype'), 
		url('../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato-Bold';
	src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), 
		url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), 
		url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General reset */
* {
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul, form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	display: block;
	border-style: none;
}
input, select, textarea {
	vertical-align: middle;
	font: 17px/19px arial, helvetica, sans-serif;
	display: block;
	border: none;
	outline: none; /*CHROME*/
	margin: 5px 1.5%;
	width: 78.4%;
	height: 40px;
	border-radius: 5px;
	padding: 2%;
	color: #363636;
	transition: box-shadow 0.7s;
	-o-transition: box-shadow 0.7s;
	-ms-transition: box-shadow 0.7s;
	-moz-transition: box-shadow 0.7s;
	-webkit-transition: box-shadow 0.7s;
}

input:focus::-ms-input-placeholder {
  font-size: 0;
}
input:focus::-moz-placeholder {
  font-size: 0;
}
input:focus::-webkit-input-placeholder {
  font-size: 0;
}

input::-webkit-search-cancel-button {
  display: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

textarea {
	height: 156px;
	background: url("../img/textarea.png") no-repeat 99.1% 98%;
	resize: none;
	margin-bottom: 15px;
}

label {
	color: #000;
}

.contacts input[type="submit"] {
	position: static;
	float: none;
	cursor: pointer;
	width: 160px;
	margin: 0;
	height: 60px;
	padding: 0 0 0 25px;;
}

ul {
	margin: 0;
	padding: 0px 0 0;
	list-style: none;
}

a {
	color: #f00;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h2, h3 {
	font: bold 15px/17px arial, helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
}

mark {
	background: none;
}

p {
	margin: 0;
}

/*  General settings ********************************************************************************************/
body {
	margin: 0;
	color: #363636;
	background: #fff;
	font: 14px/24px arial, helvetica, sans-serif;
}

#main /*Safari, IE*/ {
	display: block;
}
/* HEADER *********************************************************************************/
.header-holder {
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.07);
	background: #e8ebf1;
	position: relative;
	z-index: 7;
}

@media screen and (max-width: 1050px) {
.header-holder {
	padding: 0 2%;
}}

header {
	max-width: 1000px;
	margin: 0 auto;
	padding: 28px 0 39px;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

header h1 {
	float: left;
}

.logo {
	font: 50px/52px 'Lato-Black';
	color: #000;
}

.logo span {
	font: 50px/52px 'Lato-Regular';
	color: #2aacc8;
}

nav {
	float: right;
	padding-top: 17px;
}

#nav-menu,
.menu {
	display: none;
}

.nav:after {
	content: "";
	display: block;
	clear: both;
}

.nav > li {
	float: left;
	margin-right: 15px;
	transition: background 0.8s, box-shadow 0.5s;
	-o-transition: background 0.8s, box-shadow 0.5s;
	-ms-transition: background 0.8s, box-shadow 0.5s;
	-moz-transition: background 0.8s, box-shadow 0.5s;
	-webkit-transition: background 0.8s, box-shadow 0.5s;
}

.nav > li:last-child {
	margin-right: 0;
}

.nav .nav-li-drop {
	margin: 0 8px 0 5px;
	position: relative;
}

.nav li a {
	display: block;
	font: 13px/15px arial, helvetica, sans-serif;
	color: #000;
}

header .nav > li > a {
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px 18px 11px;
	transition: color 0.5s;
	-o-transition: color 0.5s;
	-ms-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.nav .nav-li-drop > a {
	padding: 8px 25px 11px 11px;
	background: url("../img/arrow-down.png") no-repeat 90% 13px;
}

.nav > li:hover > a,
.drop a:hover {
	color: #2aacc8;
}

.nav > li:hover {
	background: #fff;
}

.nav > li:hover,
.nav > li > a.active {
	box-shadow: 0 -5px #2aacc8;
}

.drop {
	z-index: 5;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	background: #fff;
	padding: 11px 5px 9px;
	border: 1px solid #e8ebf1;
	border-top: none;
	transition: opacity 0.8s, box-shadow 0.5s;
	-o-transition: opacity 0.8s, box-shadow 0.5s;
	-ms-transition: opacity 0.8s, box-shadow 0.5s;
	-moz-transition: opacity 0.8s, box-shadow 0.5s;
	-webkit-transition: opacity 0.8s, box-shadow 0.5s;
	top: 34px;
	left: -1px;
	width: 199px;
	text-align: left;
}

.nav > li:hover .drop {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: 0 5px #2aacc8;
}

.drop a {
	padding: 10px 22px 10px 10px;
	border-bottom: 1px solid #e7e7e7;
}

.drop li:last-child a {
	border-bottom: none;
}
/* GALLERY 1 ***********************************************************************************/
.gallery1-holder {
	width: 100%;
	background: #81e4ed;
	padding: 20px 0 40px;
	position: relative;
}

@media screen and (max-width: 1050px) {
.gallery1-holder {
	padding: 20px 2% 40px;
}}

.gallery1 {
	max-width: 1000px;
}

.list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}
.list li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.list li.first {
  position: relative;
  display: block;
  float: left;
}

.gallery1-box {
	position: absolute;
	top: 21%;
	left: 6%;
	width: 37%;
}

.gallery1-box p {
	font: 50px/60px 'Lato-Bold';
	color: #fff;
}
/* start responsive .gallery1-box p *************************************************/
@media screen and (max-width: 900px) {
.gallery1-box p {
	font: 47px/58px 'Lato-Bold';
}}
@media screen and (max-width: 875px) {
.gallery1-box p {
	font: 46px/56px 'Lato-Bold';
}}
@media screen and (max-width: 850px) {
.gallery1-box p {
	font: 45px/54px 'Lato-Bold';
}}
@media screen and (max-width: 825px) {
.gallery1-box p {
	font: 44px/51px 'Lato-Bold';
}}
@media screen and (max-width: 800px) {
.gallery1-box p {
	font: 43px/50px 'Lato-Bold';
}}
@media screen and (max-width: 775px) {
.gallery1-box p {
	font: 42px/47px 'Lato-Bold';
}}
@media screen and (max-width: 750px) {
.gallery1-box p {
	font: 40px/46px 'Lato-Bold';
}}
@media screen and (max-width: 725px) {
.gallery1-box p {
	font: 39px/44px 'Lato-Bold';
}}
@media screen and (max-width: 700px) {
.gallery1-box p {
	font: 37px/43px 'Lato-Bold';
}}
@media screen and (max-width: 675px) {
.gallery1-box p {
	font: 35px/42px 'Lato-Bold';
}}
@media screen and (max-width: 650px) {
.gallery1-box p {
	font: 34px/41px 'Lato-Bold';
}}
@media screen and (max-width: 625px) {
.gallery1-box p {
	font: 33px/38px 'Lato-Bold';
}}
@media screen and (max-width: 600px) {
.gallery1-box p {
	font: 32px/36px 'Lato-Bold';
}}
@media screen and (max-width: 575px) {
.gallery1-box p {
	font: 31px/35px 'Lato-Bold';
}}
@media screen and (max-width: 550px) {
.gallery1-box p {
	font: 29px/34px 'Lato-Bold';
}}
@media screen and (max-width: 500px) {
.gallery1-box p {
	font: 27px/31px 'Lato-Bold';
}}
@media screen and (max-width: 475px) {
.gallery1-box p {
	font: 26px/30px 'Lato-Bold';
}}
@media screen and (max-width: 450px) {
.gallery1-box p {
	font: 24px/28px 'Lato-Bold';
}}
@media screen and (max-width: 425px) {
.gallery1-box p {
	font: 22px/26px 'Lato-Bold';
}}
@media screen and (max-width: 400px) {
.gallery1-box p {
	font: 20px/25px 'Lato-Bold';
}}/* end responsive .gallery1-box p ********************************************/

.list img {
  height: auto;
  width: 100%;
}
 .list_tabs {
 	margin: 0;
 	padding: 12px 0 0;
 	list-style: none;
 	left: 50%;
 	position: relative;
 	float: left;
}
 .list_tabs li {
 	float: left;
 	right: 50%;
 	position: relative;
 	padding: 0 9px;
}
.list_tabs li a {
	float: left;
	text-indent: -9999px;
	background: rgba(98, 98, 98, 0.5);
  	width: 14px;
  	height: 14px;
  	border-radius: 7px;
  	transition: background 0.5s;
  	-o-transition: background 0.5s;
  	-ms-transition: background 0.5s;
  	-moz-transition: background 0.5s;
  	-webkit-transition: background 0.5s;
}

.list_tabs .list_here a,
.list_tabs a:hover {
	background: #fff;
}

/*  ARTICLES ********************************************************************************************/
.articles-holder {
	width: 100%;
	background: #e8ebf1;
	padding: 60px 0 45px;
	border-bottom: 1px solid rgb(217, 217, 217);
}

@media screen and (max-width: 1050px) {
.articles-holder {
	padding: 60px 2% 45px;
}}

.articles {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.articles article {
	float: left;
	width: 26%;
	padding: 0 4% 0 0;
	font: 13px/20px arial, helvetica, sans-serif;
}

.articles article:last-child {
	width: 22%;
	padding: 0;
}

.articles article:last-child p {
	padding: 0 0 0 3px;
}

.articles article:last-child .read-more {
	margin: 0 0 0 3px;
}

.articles-holder .articles article h2 {
	padding: 8px 0 30px 27.2%;
	background-size: 18.6%;
}

article.clean-theme h2 {
	background: url("../img/article-clean-theme.png") no-repeat;
}

article.responsive-design h2 {
	background: url("../img/article-responsive-design.png") no-repeat;
}

article.fully-layerd-psd h2 {
	background: url("../img/article-fully-layerd-psd.png") no-repeat;
}

article.ready-for-coding h2 {
	background: url("../img/article-ready-for-coding.png") no-repeat;
}

.articles p {
	margin-bottom: 20px;
}

.articles a {
	color: #2aacc8;
	text-transform: capitalize;
}

.read-more {
	padding: 0px 14px 0 14px;
	background: url("../img/arrow-right.png") no-repeat 1px 3px;
	transition: background-position 0.5s;
	-o-transition: background-position 0.5s;
	-mz-transition: background-position 0.5s;
	-moz-transition: background-position 0.5s;
	-webkit-transition: background-position 0.5s;
}

.read-more:hover {
	background-position: 100% 3px;
}

/*  CONTENT-HOLDER ********************************************************************************************/
.content-holder {
	width: 100%;
	padding: 19px 0;
}

@media screen and (max-width:1050px) {
.content-holder {
	padding: 19px 2%;
}}
/*  GALLERY 2 ********************************************************************************************/
.jcarousel-wrapper {
	max-width: 1000px;
    margin: 0 auto 19px;
    position: relative;
}

.jcarousel-wrapper h2 {
	background: url("../img/gallery2-latest-works.png") no-repeat;
	padding: 6px 0 2px 3.9%;
	margin: 0 0 14px;
	background-size: 1.5%;
}
/** Carousel ***********************************************************/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
    padding: 20px 0 40px;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
}

.jcarousel li {
    float: left;
    overflow: hidden;
    margin-right: 40px;
    position: relative;
}

.jcarousel img {
    width: 100%;
    height: auto !important;
}
/** Carousel Controls ************************************************/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #81e4ed;
    color: #434343;
    font: 19px/20px Arial, sans-serif;
    border-radius: 10px;
    text-shadow: 0 0 1px #000;
    transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    transition: transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -ms-transition: -ms-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}

.jcarousel-control-prev {
    right: 31px;
}

.jcarousel-control-next {
    right: 0;
}

.jcarousel-control-prev:hover {
	transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
}
.jcarousel-control-next:hover {
	transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-webkit-transform: rotateX(-180deg);
}
/** Carousel show-box ************************************************/
.jcarousel li:hover .show-box,
.tabset .box:hover .show-box {
	height: 50.5%;
}

.show-box {
	transition: all 0.3s linear 0.5s;
	-o-transition: all 0.3s linear 0.5s;
	-ms-transition: all 0.3s linear 0.5s;
	-moz-transition: all 0.3s linear 0.5s;
	-webkit-transition: all 0.3s linear 0.5s;
	height: 0;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: #2aacc8;
	text-align: center;
}

.show-box a {
	display: inline-block;
	transition: all 0.7s ease 0.5s;
	-o-transition: all 0.7s ease 0.5s;
	-ms-transition: all 0.7s ease 0.5s;
	-moz-transition: all 0.7s ease 0.5s;
	-webkit-transition: all 0.7s ease 0.5s;
}

.work-preview {
	width: 35px;
	height: 25px;
	background: url("../img/work-preview.png") no-repeat;
	margin: 0px -100% 0 0;
}

.work-link {
	width: 20px;
	height: 26px;
	background: url("../img/work-link.png") no-repeat;
	margin: 0 0 0 -100%;
}

.jcarousel li:hover .show-box .work-preview,
.tabset .box:hover .show-box .work-preview {
	margin: 29px 0 0 8px;
}

.jcarousel li:hover .show-box .work-link,
.tabset .box:hover .show-box .work-link {
	margin: 28px 0 0 31px;
}
/*  TESTIMONIALS-CLIENTS ********************************************************************************************/
.testimonials-clients {
	max-width: 1000px;
	margin: 0 auto 41px;
	overflow: hidden;;
}

.testimonials {
	float: left;
	width: 50%;
	padding: 2px 6% 0 0;
}

.testimonials h2 {
	padding: 4px 0 13px 9%;
	background: url("../img/article-testimonials.png") no-repeat;
}

.testimonials p {
	margin-bottom: 24px;
}

.testimonials strong a {
	color: #363636;
}

.testimonials strong a:hover {
	text-decoration: underline;
}

.clients {
	float: right;
	width: 50%;
	padding: 0 0 0 2%;
}

.clients h2 {
	padding: 6px 0 17px 8.2%;
	background: url("../img/clients.png") no-repeat;
}

.clients table {
	width: 100%;
	border-collapse: collapse;
}

.clients table td {
	width: 33.33%;
	border: 1px solid #e8ebf1;
	box-shadow: 0 0 25px #e8ebf1 inset;
	background: #fff;
	transition: box-shadow 0.6s;
	-o-transition: box-shadow 0.6s;
	-ms-transition: box-shadow 0.6s;
	-moz-transition: box-shadow 0.6s;
	-webkit-transition: box-shadow 0.6s;
}

.clients table a {
	display: block;
	padding: 10% 0 13%;
}

.clients table td:hover {
	box-shadow: 0 0 45px #e8ebf1 inset;
}

.clients img {
	margin: 0 auto;
	transition: transform 0.6s;
	-o-transition: -o-transform 0.6s;
	-ms-transition: -ms-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-webkit-transition: -webkit-transform 0.6s;
}

.clients table a:hover img {
	transform: scale(1.4, 1.4);
}

.clients table tr:last-child td a:hover img {
	transform: scale(1.3, 1.3) translateY(5px);
}

.clients table tr:last-child td .fujifilm:hover img {
	transform: scale(1.1, 1.4);
}
/*  DOWNLOAD ********************************************************************************************/
.download {
	max-width: 1000px;
	margin: 0 auto 20px;
	overflow: hidden;
	background: #e8fcfe;
	border: 1px solid #81e4ed;
	padding: 30px 2% 30px 2.1%;
}

.download p {
	float: left;
	width: 65%;
	font: 16px/26px arial, helvetica, sans-serif;
}

.download .download-psd,
input[type="submit"] {
	position: relative;
	float: right;
	padding: 20px 2.1% 18px 7.3%;
	border-radius: 7px;
	border: 1px solid #2aacc8;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2), 0px -7px 10px -5px rgba(0, 0, 0, 0.2) inset, 0 3px 1px rgba(255, 255, 255, 0.1) inset;
	background: linear-gradient(to bottom, #80e3ec, #68d3e1);
	background: -o-linear-gradient(top, #80e3ec, #68d3e1);
	background: -ms-linear-gradient(top, #80e3ec, #68d3e1);
	background: -moz-linear-gradient(top, #80e3ec, #68d3e1);
	background: -webkit-linear-gradient(top, #80e3ec, #68d3e1);
	color: #0d0707;
	font: bold 18px/20px arial, helvetica, sans-serif;
	text-transform: uppercase;
	margin: 9px 1% 0 0;
}

.download-psd:before {
	content: "";
	display: block;
	position: absolute;
	left: 21px;
	bottom: 13px;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top: 11px solid #fff;
	animation: animate 2s linear 0.1s infinite;
	-o-animation: animate 2s linear 0.1s infinite;
	-ms-animation: animate 2s linear 0.1s infinite;
	-moz-animation: animate 2s linear 0.1s infinite;
	-webkit-animation: animate 2s linear 0.1s infinite;
	box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;
}

@keyframes animate {
	from{box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;}
	to{box-shadow: 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff;}
}
@-o-keyframes animate {
	from{box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;}
	to{box-shadow: 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff;}
}
@-ms-keyframes animate {
	from{box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;}
	to{box-shadow: 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff;}
}
@-moz-keyframes animate {
	from{box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;}
	to{box-shadow: 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff;}
}
@-webkit-keyframes animate {
	from{box-shadow: 0 -10px 0 -7px #fff, 0 -11px 0 -7px #78dee9, 0 -13px 0 -7px #fff, 0 -14px 0 -7px #78dee9, 0 -15px 0 -7px #fff;}
	to{box-shadow: 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff, 0 0 0 -7px #78dee9, 0 0 0 -7px #fff;}
}

.download-psd:after {
	content: "";
	display: block;
	position: absolute;
    left: 18px;
    bottom: 18px;
    width: 22px;
    height: 5px;
	border: 3px solid #fff;
	border-top: none;
}

/*  PORTFOLIO ********************************************************************************************/
.portfolio {
	max-width: 1000px;
	margin: 20px auto 0;
}

.portfolio h2 {
	padding: 6px 0 16px 3.9%;
	background: url("../img/portfolio.png") no-repeat -2px 0;
}

.tabset {
  border-top: 1px solid #dfe1e5;
  padding: 14px 0 0;
}

.tabset input {
  display: none;
}

.tabset label {
  cursor: pointer;
  display: inline-block;
  padding: 3px 18px 2px 17px;
  background: none;
  color: #000;
  transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
}

.tabset label:not(:first-of-type) {
	margin-left: -5px;
}

.tabset input:checked+label,
.tabset input+label:hover {
  background: #81e4ed;
}

.tabset > div {
  overflow: hidden;
  display: none;
  width: 100%;
  border-top: 1px solid rgba(48, 49, 66, 0.22);
  border-bottom: 1px solid rgba(48, 49, 66, 0.22);
  margin: 16px 0 28px;
  padding: 40px 0 0;
}

.tabset input#check1:checked+label~.all,
.tabset input#check2:checked+label~.websites,
.tabset input#check3:checked+label~.wordpress,
.tabset input#check4:checked+label~.mobile-apps,
.tabset input#check5:checked+label~.icons,
.tabset input#check6:checked+label~.logos,
.tabset input#check7:checked+label~.graphics {
  display: block;
}

.box {
  float: left;
  overflow: hidden;
  position: relative;
  width: 22%;
  margin: 0 4% 40px 0;
}

.box:nth-child(4n) {
  margin-right: 0;
}

.box img {
  width: 100%;
}

.tabset-list-holder {
	width: 100%;
	text-align: center;
}

.tabset-list li {
  display: inline-block;
  padding: 1px 0 0 0;
  margin: 0 4px 0 0;
}

.tabset-list a {
  display: block;
  color: #000;
  text-align: center;
  padding: 1px 9px 2px 10px;
}

.tabset-list a.active,
.tabset-list a:hover {
  background: #81e4ed;
}

.tabset-arrows {
  background: #e8ebf1;
}

.tabset-arrows:hover {
  background: #81e4ed;
}

/*  CONTACTS ********************************************************************************************/
.contacts {
	max-width: 1000px;
	margin: 25px auto 13px;
}

.contacts h2 {
	padding: 1px 0 16px 3.9%;
	background: url("../img/contacts-email.png") no-repeat -2px 0;
}

.contacts-content {
  overflow: hidden;
  border-top: 1px solid #dfe1e5;
  padding: 37px 0 0;
}

.contacts-form {
	float: left;
	width: 60%;
}

.contacts-form p {
	margin-bottom: 18px;
	line-height: 17px;
}

.contacts-form p a {
	color: #2aacc8;
	font-weight: bold;
}

.contacts-form p a:hover {
	text-decoration: underline;
}

.contacts-form form {
	padding: 6px 0 0;
}

.contacts-form form .row {
	padding-bottom: 7px;
}

.submit-holder {
	position: relative;
}

.submit-holder:before {
	content: "";
	display: block;
	position: absolute;
	top: 18px;
	left: 19px;
	width: 24px;
	height: 24px;
	border-radius: 12px;
	background: #fff;
}

.submit-holder:after {
	content: "";
	display: block;
	position: absolute;
	top: 23px;
	left: 27px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-left: 10px solid #73dae6;
	box-shadow: -10px 0px 0 -4px #73dae6;
	animation: animate2 1s linear 0.1s infinite;
	-o-animation: animate2 1s linear 0.1s infinite;
	-ms-animation: animate2 1s linear 0.1s infinite;
	-moz-animation: animate2 1s linear 0.1s infinite;
	-webkit-animation: animate2 1s linear 0.1s infinite;
}

@keyframes animate2 {
	from{left: 33px;}
	to{left: 27px;}
}
@-o-keyframes animate2 {
	from{left: 33px;}
	to{left: 27px;}
}
@-ms-keyframes animate2 {
	from{left: 33px;}
	to{left: 27px;}
}
@-moz-keyframes animate2 {
	from{left: 33px;}
	to{left: 27px;}
}
@-webkit-keyframes animate2 {
	from{left: 33px;}
	to{left: 27px;}
}

.contacts-map-content {
	float: right;
	width: 34.1%;
	margin: 3px 2% 0 0;
}

.contacts-map {
	border: 1px solid #81e4ed;
	background: #e8fcfe;
	padding: 16px 5% 12px;
	width: 100%;
	margin: 0 0 36px;
}

.contacts-map strong {
	font-size: 14px;
	line-height: 16px;
}

.contacts-map iframe {
	margin: 19px 0 0;
	width: 100%;
}

.contacts-map-content .contact-us {
	width: 100%;
	padding: 0;
}

.contacts-map-content .contact-us section {
	padding: 18px 0 2px;
}
/*  FOOTER ********************************************************************************************/
.footer-holder {
	width: 100%;
	background: #e8ebf1;
	border-top: 1px solid #d9d9d9;
	padding: 29px 0 40px;
}

@media screen and (max-width:1050px) {
.footer-holder  {
	padding: 29px 2% 40px;
}}

.footer-holder footer {
	max-width: 1000px;
	margin: 0 auto;
}

.footer-holder footer > * {
	width: 100%;
}

.footer-bottom {
	overflow: hidden;
}

.footer-top:after {
	content: "";
	display: block;
	clear: both;
}

.contact-us section > * {
	display: block;
	line-height: 16px;
}

footer a {
	color: #363636;
}

.footer-holder footer a:hover {
	text-decoration: underline;
}

.footer-top {
    margin: 0 0 28px 0px;
}

.footer-top section {
	float: left;
}

.footer-top h3 {
	margin-bottom: 6px;
}

.about-us {
	width: 30%;
	padding: 1px 6% 0 0;
}

.about-us p {
	padding: 14px 0 0;
	line-height: 17px;
}

.footer-lists {
    width: 14.9%;
}

.contact-us {
	width: 17%;
	padding: 0 0 0 2%;
}

.contact-us section {
	padding: 12px 0 8px;
}

.connect-with-us {
	width: 23%;
	position: relative;
	right: -3%;
}

.connect-with-us  h3 {
	padding: 0 0 0 10%;
}

.footer-lists li {
	margin: 0 0 2px;
}

.sprites {
	padding: 12px 0 0 0;
	margin: 0 0 0 -2%;
}

.sprites:before {
	content: "";
	display: block;
	clear: both;
}

.sprites li {
	float: left;
	margin: 0 0 9px 17px;
}

.sprites li:nth-child(3n) {
	margin: 0 0 9px 17px;
}

.sprites li a {
	display: block;
	width: 53px;
	height: 51px;
	background-image: url("../img/sprites.png");
	background-repeat: no-repeat;
	border-radius: 25px;
	transition: transform 2s;
	-o-transition: -o-transform 2s;
	-ms-transition: -ms-transform 2s;
	-moz-transition: -moz-transform 2s;
	-webkit-transition: -webkit-transform 2s;
}

.drible {
	background-position: -53px 0;
}
.pinterest {
	background-position: -106px 0;
}
.linkedin {
	background-position: -159px 0;
}
.skype {
	background-position: -212px 0;
}
.share {
	background-position: -265px 0;
}

.sprites li a:hover {
	transform-origin: center top;
	-o-transform-origin: center top;
	-ms-transform-origin: center top;
	-moz-transform-origin: center top;
	-webkit-transform-origin: center top;
	animation: swing 1.5s ease;
	-o-animation: swing 1.5s ease;
	-ms-animation: swing 1.5s ease;
	-moz-animation: swing 1.5s ease;
	-webkit-animation: swing 1.5s ease;
	animation-iteration-count: 1;
	-o-animation-iteration-count: 1;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@keyframes swing {
	15% {transform: rotateZ(40deg);}
	30% {transform: rotateZ(-25deg);}
	50% {transform: rotateZ(15deg);}
	65% {transform: rotateZ(-10deg);}
	80% {transform: rotateZ(5deg);}
	100% {transform: rotateZ(0);}
}

@-o-keyframes swing {
	15% {-o-transform: rotateZ(40deg);}
	30% {-o-transform: rotateZ(-25deg);}
	50% {-o-transform: rotateZ(15deg);}
	65% {-o-transform: rotateZ(-10deg);}
	80% {-o-transform: rotateZ(5deg);}
	100% {-o-transform: rotateZ(0);}
}

@-ms-keyframes swing {
	15% {-ms-transform: rotateZ(40deg);}
	30% {-ms-transform: rotateZ(-25deg);}
	50% {-ms-transform: rotateZ(15deg);}
	65% {-ms-transform: rotateZ(-10deg);}
	80% {-ms-transform: rotateZ(5deg);}
	100% {-ms-transform: rotateZ(0);}
}

@-moz-keyframes swing {
	15% {-moz-transform: rotateZ(40deg);}
	30% {-moz-transform: rotateZ(-25deg);}
	50% {-moz-transform: rotateZ(15deg);}
	65% {-moz-transform: rotateZ(-10deg);}
	80% {-moz-transform: rotateZ(5deg);}
	100% {-moz-transform: rotateZ(0);}
}

@-webkit-keyframes swing {
	15% {-webkit-transform: rotateZ(40deg);}
	30% {-webkit-transform: rotateZ(-25deg);}
	50% {-webkit-transform: rotateZ(15deg);}
	65% {-webkit-transform: rotateZ(-10deg);}
	80% {-webkit-transform: rotateZ(5deg);}
	100% {-webkit-transform: rotateZ(0);}
}

.bottom-span {
	float: left;
	width: 70%;
	padding: 3px 2% 0 0;
}

.footer-holder .footer-bottom .logo {
	float: right;
	text-decoration: none;
}

@media screen and (max-width: 1050px) {
.footer-holder .footer-bottom .logo {
	margin-right: 2%;
}}
@media screen and (max-width:1000px) {
.footer-lists {
    width: 13%;
}
.contact-us {
    width: 18%;
}}
@media screen and (max-width:985px) {
.contact-us {
    width: 19%;
}
.connect-with-us {
    width: 25%;
}}
@media screen and (max-width:880px) {
.about-us {
	width: 30%;
	padding: 1px 3% 0 0;
}
.contact-us {
    width: 20%;
}
.connect-with-us {
    width: 23%;
}
.sprites li {
    margin: 0 0 9px 7px;
}
.sprites li:nth-child(3n) {
    margin: 0 0 9px 7px;
}}